.file-modal-content {
    padding: 16px;
  }
  
  .file-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .file-item a {
    margin-right: 8px;
    text-decoration: none;
  }