<br><br>
<section class="content">
    <div class="card listCard">
        <div class="card-body">
            <h2 class="text-center">Payments</h2>
            <br><br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date & Time</th>
                                    <!-- <th>Note</th> -->
                                    <th>Invoice Final Price</th>
                                    <th>Invoice Paid</th>
                                    <th>Invoice Remained</th>
                        
                                    <th>View all payments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let invoice of invoices.invoicePayments">
                                    <td>{{ invoice.id }}</td>
                                    <td>{{ invoice.created_at | date:'medium' }}</td>
                                    <!-- <td>{{ invoice.note }}</td> -->
                                    <td>{{ invoice.invoiceFinalPrice }}</td>
                                    <td>{{ invoice.amountPaid }}</td>
                                    <td>{{ invoice.amountRemaining < 0 ? 0 : invoice.amountRemaining }}</td>
                                    <td>
                                        <button class="btn btn-success" (click)="openModal(invoice)">View all payments</button>
                                    </td>
                                    <!-- <td><a *ngIf="invoice.attachment" class="btn" href="{{link}}/api/file_download/{{ invoice.id }}"><i class="fas fa-download"></i></a>
                                        <span *ngIf="!invoice.attachment">No Attachment</span>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
