<div class="edit-user-container">
    <div>
        <!-- <form> -->
            <br>
            <h3 class="text-center">Edit Invoice Table</h3>
            <br>

            <div class="form-group">
                <label for="estimatedDate">Estimated Date</label>
                <input type="date" class="form-control" id="estimatedDate" name="estimatedDate"
                    [(ngModel)]="invoice.invoiceEstimatedDate">
            </div>

            <div class="form-group">
                <label for="closingDate">Closing Date</label>
                <input type="date" class="form-control" id="closingDate" name="closingDate"
                    [(ngModel)]="invoice.invoiceClosingDate">
            </div>

            <div style="width: 70%; margin: 0 auto; ; overflow-x: auto;">
                <h3 class="text-center">Item Table</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Item Name</th>
                            <th class="text-center">User ID</th>
                            <th class="text-center">UOM ID</th>
                            <th class="text-center">First Price</th>
                            <th class="text-center">Last Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">VAT</th>
                            <th class="text-center">Unit Price</th>
                            <th class="text-center">Additional Cost</th>
                            <th class="text-center">Purchase Additional Cost</th>
                            <th class="text-center">Delivery Additional Cost</th>
                            <th class="text-center">POD</th>
                            <th class="text-center">Closing Date</th>
                            <!-- <th class="text-center">Files</th> -->


                            <th class="text-center">Purchase Price</th>

                            <th class="text-center">Is First Payment Done</th>
                            <th class="text-center">First Payment Price</th>
                            <th class="text-center">First Payment Date</th>

                            <th class="text-center">Is Last Payment Done</th>
                            <th class="text-center">Last Payment Price</th>
                            <th class="text-center">Last Payment Date</th>

                            <th class="text-center">Logistic Company</th>
                            <th class="text-center">Logistic Location</th>
                            <th class="text-center">Logistic Estimated Date</th>
                            <th class="text-center">Shipping Status</th>
                            <!-- <th class="text-center">Files</th> -->


                            <th class="text-center">Is Delivered to Iraq</th>
                            <th class="text-center">Is Delivered by Logistic</th>
                            <th class="text-center">Is Deliver to Client</th>
                            <th class="text-center">Logistic Cost</th>
                            <th class="text-center">Is Fully Paid</th>
                            <th class="text-center">Is Submitted</th>
                            <!-- <th class="text-center">Files</th> -->


                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of invoice.itemList; let i = index">
                            <td class="text-center">
                                <input type="text" name="{{item.itemId}}" [(ngModel)]="item.itemId">
                            </td>
                            <td class="text-center">
                                <input type="text" name="{{item.userId}}" [(ngModel)]="item.userId" disabled>
                            </td>
                            <td class="text-center">
                                <input type="text" name="{{item.UOMId}}" [(ngModel)]="item.UOMId">
                            </td>

                            <td class="text-center">
                                <input type="number" name="{{item.firstPrice}}" [(ngModel)]="item.firstPrice">
                            </td>
                            <td class="text-center">
                                <input type="number" name="{{item.lastPrice}}" [(ngModel)]="item.lastPrice">
                            </td>
                            <td class="text-center">
                                <input type="number" name="{{item.quantity}}" [(ngModel)]="item.quantity">
                            </td>
                            <td class="text-center">
                                <input type="number" name="{{item.VAT}}" [(ngModel)]="item.VAT">
                            </td>
                            <td class="text-center">
                                <input type="number" name="{{item.unitPrice}}" [(ngModel)]="item.unitPrice">
                            </td>
                            <td class="text-center">
                                <input type="number" name="{{item.additionalCost}}" [(ngModel)]="item.additionalCost">
                            </td>
                            <td class="text-center">
                                <input type="number" name="{{item.purchaseAdditionalCost}}"
                                    [(ngModel)]="item.purchaseAdditionalCost">
                            </td>
                            <td class="text-center">
                                <input type="number" name="{{item.deliveryAdditionalCost}}"
                                    [(ngModel)]="item.deliveryAdditionalCost">
                            </td>

                            <td class="text-center">
                                <input type="text" name="{{item.POD}}" [(ngModel)]="item.POD">
                            </td>
                            <td class="text-center">
                                <input type="date" name="{{item.closingDate}}" [(ngModel)]="item.closingDate">
                            </td>

                            <!-- file buttons
              <td class="text-center">
                <p><input type="file" multiple (change)="onFileSelect($event)"></p>
                <button class="upload-button" (click)="uploadFiles(item.uploadedFiles1)">Upload Files</button>
                <span class="button-gap"></span>
                <button class="view-button" (click)="openModal(item.uploadedFiles1)">View</button>
              </td> -->

                            <!-- level 2 -->
                            <td class="text-center">
                                <input type="number" name="{{item.purchasePrice}}" [(ngModel)]="item.purchasePrice">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" name="{{item.isFirstPaymentDone}}"
                                    [(ngModel)]="item.isFirstPaymentDone">
                            </td>
                            <td class="text-center">
                                <input type="number" name="{{item.firstPaymentPrice}}"
                                    [(ngModel)]="item.firstPaymentPrice">
                            </td>
                            <td class="text-center">
                                <input type="date" name="{{item.firstPaymentDate}}" [(ngModel)]="item.firstPaymentDate">
                            </td>

                            <td class="text-center">
                                <input type="checkbox" name="{{item.isLastPaymentDone}}"
                                    [(ngModel)]="item.isLastPaymentDone">
                            </td>
                            <td class="text-center">
                                <input type="number" name="{{item.lastPaymentPrice}}"
                                    [(ngModel)]="item.lastPaymentPrice">
                            </td>
                            <td class="text-center">
                                <input type="date" name="{{item.lastPaymentDate}}" [(ngModel)]="item.lastPaymentDate">
                            </td>
                            <td class="text-center">
                                <input type="text" name="{{item.logisticCompany}}" [(ngModel)]="item.logisticCompany">
                            </td>
                            <td class="text-center">
                                <input type="text" name="{{item.logisticLocation}}" [(ngModel)]="item.logisticLocation">
                            </td>
                            <td class="text-center">
                                <input type="date" name="{{item.logisticEstimatedDate}}"
                                    [(ngModel)]="item.logisticEstimatedDate">
                            </td>
                            <td class="text-center">
                                <input type="text" name="{{item.shippingStatus}}" [(ngModel)]="item.shippingStatus">
                            </td>

                            <!-- file buttons
               <td class="text-center">
                <p><input type="file" multiple (change)="onFileSelect($event)"></p>
                <button class="upload-button" (click)="uploadFiles(item.uploadedFiles2)">Upload Files</button>
                <span class="button-gap"></span>
                <button class="view-button" (click)="openModal(item.uploadedFiles2)">View</button>
              </td>
   -->

                            <!-- level 3 -->
                            <td class="text-center">
                                <input type="checkbox" name="{{item.isDeliveredToIraq}}"
                                    [(ngModel)]="item.isDeliveredToIraq">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" name="{{item.isDeliveredByLogistic}}"
                                    [(ngModel)]="item.isDeliveredByLogistic">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" name="{{item.isDeliverToClient}}"
                                    [(ngModel)]="item.isDeliverToClient">
                            </td>
                            <td class="text-center">
                                <input type="number" name="{{item.logisticCost}}" [(ngModel)]="item.logisticCost">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" name="{{item.isFullyPaid}}" [(ngModel)]="item.isFullyPaid">
                            </td>
                            <td class="text-center">
                                <input type="checkbox" name="{{item.isSubmitted}}" [(ngModel)]="item.isSubmitted">
                            </td>

                            <!-- file buttons
              <td class="text-center">
                <p><input type="file" multiple (change)="onFileSelect($event)"></p>
                <button class="upload-button" (click)="uploadFiles(item.uploadedFiles3)">Upload Files</button>
                <span class="button-gap"></span>
                <button class="view-button" (click)="openModal(item.uploadedFiles3)">View</button>
              </td> -->

                            <!-- level 4 -->
                            <td class="text-center">
                                <input type="text" name="{{item.status}}" [(ngModel)]="item.status">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="29" class="text-center">
                                <button class="add-row-button" (click)="addRow()">
                                    <i class="fa fa-plus"></i> Add Row
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <label for="offering">Offering</label>
                <input type="text" class="form-control" id="offering" name="offering" [(ngModel)]="invoice.offering">
            </div>

            <div class="form-group">
                <label for="additionalCost">Additional Cost</label>
                <input type="number" class="form-control" id="additionalCost" name="additionalCost"
                    [(ngModel)]="invoice.additionalCost">
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <input type="text" class="form-control" id="status" name="status" [(ngModel)]="invoice.status">
            </div>

            <div class="form-group">
                Is done <input type="checkbox" name="{{invoice.isDone}}" [(ngModel)]="invoice.isDone">
            </div>
        <!-- </form> -->

            <button class="btn btn-primary edit-button" (click)="update()">
                <i class="fas fa-pencil-alt"></i> Update
            </button>

            <span class="button-gap"></span>
            <button mat-raised-button class="btn btn-primary" (click)="close()">Close</button>
    </div>
</div>