.add-user-container{

    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 70%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .button-gap {
    margin-right: 10px; 
  }