<section class="content" *ngIf="id === 1">
  <div *ngIf="!isFormSubmitted">
    <form>
      <br><br><br><br>

      <h2 class="text-center">Invoice Form</h2>
      <br><br>

      <div class="form-group  row">
        <label for="estimatedDate" class="col-sm-6 col-form-label">Estimated Date</label>
        <input type="date" class="form-control" id="estimatedDate" name="estimatedDate"
          [(ngModel)]="invoice.invoiceEstimatedDate">
        <!-- <input type="date" [value]="formatDateToString(invoice.invoiceEstimatedDate)" /> -->

      </div><br>


      <div class="form-group   row">
        <label for="closingDate" class="col-sm-6 col-form-label">Closing Date</label>
        <input type="date" class="form-control" id="closingDate" name="closingDate"
          [(ngModel)]="invoice.invoiceClosingDate">
      </div><br>


      <div style="width: 85%; margin: 0 auto; ; overflow-x: auto;">
        <h3 class="text-center">Item Table</h3>

        <table class="table">
          <thead>
            <tr>
              <th class="text-center">Item Name</th>
              <th class="text-center">User ID</th>
              <th class="text-center">UOM ID</th>
              <th class="text-center">First Price</th>
              <th class="text-center">Last Price</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">VAT</th>
              <th class="text-center">Unit Price</th>
              <th class="text-center">Additional Cost</th>
              <th class="text-center">Purchase Additional Cost</th>
              <th class="text-center">Delivery Additional Cost</th>
              <th class="text-center">POD</th>
              <th class="text-center">Closing Date</th>
              <th class="text-center">Files (1)</th>


              <th class="text-center">Purchase Price</th>

              <th class="text-center">Is First Payment Done</th>
              <th class="text-center">First Payment Price</th>
              <th class="text-center">First Payment Date</th>

              <th class="text-center">Is Last Payment Done</th>
              <th class="text-center">Last Payment Price</th>
              <th class="text-center">Last Payment Date</th>

              <th class="text-center">Logistic Company</th>
              <th class="text-center">Logistic Location</th>
              <th class="text-center">Logistic Estimated Date</th>
              <th class="text-center">Shipping Status</th>
              <th class="text-center">Files (2)</th>

              <th class="text-center">Is Delivered to Iraq</th>
              <th class="text-center">Is Delivered by Logistic</th>
              <th class="text-center">Is Deliver to Client</th>
              <th class="text-center">Logistic Cost</th>
              <th class="text-center">Is Fully Paid</th>
              <th class="text-center">Is Submitted</th>
              <th class="text-center">Files (3)</th>


              <th class="text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of itemList; let i = index">
              <td class="text-center">
                <input matInput type="text" [matAutocomplete]="auto" name="{{item.itemId}}" [(ngModel)]="tempItem[i]"
                  [formControl]="myControlitem">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let item of filteredOptionsItem  | async" [value]="item.name">
                    {{ item.name }} (ID: {{ item.id }})
                  </mat-option>
                </mat-autocomplete>
              </td>

              <td class="text-center">
                <input matInput type="text" [matAutocomplete]="autouser" name="{{item.userId}}"
                  [(ngModel)]="tempUser[i]" [formControl]="myControluser">
                <mat-autocomplete #autouser="matAutocomplete">
                  <mat-option *ngFor="let user of filteredOptionsUser | async" [value]="user.id">
                    {{ user.name }} (ID: {{ user.id }})
                  </mat-option>
                </mat-autocomplete>
              </td>



              <td class="text-center">
                <input matInput type="text" [matAutocomplete]="autouom" name="{{item.UOMId}}" [(ngModel)]="tempUom[i]"
                  [formControl]="myControlUom">
                <mat-autocomplete #autouom="matAutocomplete">
                  <mat-option *ngFor="let uom of filteredOptionsUOM | async" [value]="uom.id">
                    {{ uom.name }} (ID: {{ uom.id }})
                  </mat-option>
                </mat-autocomplete>
                <!-- <input type="text" name="{{item.UOMId}}" [(ngModel)]="item.UOMId"> -->
              </td>

              <td class="text-center">
                <input type="number" name="{{item.firstPrice}}" [(ngModel)]="item.firstPrice">
              </td>
              <td class="text-center">
                <input type="number" name="{{item.lastPrice}}" [(ngModel)]="item.lastPrice">
              </td>
              <td class="text-center">
                <input type="number" name="{{item.quantity}}" [(ngModel)]="item.quantity">
              </td>
              <td class="text-center">
                <input type="number" name="{{item.VAT}}" [(ngModel)]="item.VAT">
              </td>
              <td class="text-center">
                <input type="number" name="{{item.unitPrice}}" [(ngModel)]="item.unitPrice">
              </td>
              <td class="text-center">
                <input type="number" name="{{item.additionalCost}}" [(ngModel)]="item.additionalCost">
              </td>
              <td class="text-center">
                <input type="number" name="{{item.purchaseAdditionalCost}}" [(ngModel)]="item.purchaseAdditionalCost">
              </td>
              <td class="text-center">
                <input type="number" name="{{item.deliveryAdditionalCost}}" [(ngModel)]="item.deliveryAdditionalCost">
              </td>

              <td class="text-center">
                <input type="text" name="{{item.POD}}" [(ngModel)]="item.POD">
              </td>
              <td class="text-center">
                <input type="date" name="{{item.closingDate}}" [(ngModel)]="item.closingDate">
              </td>

              <!-- file buttons -->
              <td class="text-center">
                <!-- <p><input type="file" multiple (change)="onFileSelect($event)"></p> -->
                <p><input type="file" multiple (change)="onFileSelect($event, i)"></p>
                <button class="upload-button" (click)="uploadFiles(item.uploadedFiles1,i)">Upload Files</button>
                <span class="button-gap"></span>
                <button class="view-button" (click)="openModal(item.uploadedFiles1)">View</button>
              </td>

              <!-- level 2 -->
              <td class="text-center">
                <input type="number" name="{{item.purchasePrice}}" [(ngModel)]="item.purchasePrice">
              </td>
              <td class="text-center">
                <input type="checkbox" name="{{item.isFirstPaymentDone}}" [(ngModel)]="item.isFirstPaymentDone">
              </td>
              <td class="text-center">
                <input type="number" name="{{item.firstPaymentPrice}}" [(ngModel)]="item.firstPaymentPrice">
              </td>
              <td class="text-center">
                <input type="date" name="{{item.firstPaymentDate}}" [(ngModel)]="item.firstPaymentDate">
              </td>

              <td class="text-center">
                <input type="checkbox" name="{{item.isLastPaymentDone}}" [(ngModel)]="item.isLastPaymentDone">
              </td>
              <td class="text-center">
                <input type="number" name="{{item.lastPaymentPrice}}" [(ngModel)]="item.lastPaymentPrice">
              </td>
              <td class="text-center">
                <input type="date" name="{{item.lastPaymentDate}}" [(ngModel)]="item.lastPaymentDate">
              </td>
              <td class="text-center">
                <input type="text" name="{{item.logisticCompany}}" [(ngModel)]="item.logisticCompany">
              </td>
              <td class="text-center">
                <input type="text" name="{{item.logisticLocation}}" [(ngModel)]="item.logisticLocation">
              </td>
              <td class="text-center">
                <input type="date" name="{{item.logisticEstimatedDate}}" [(ngModel)]="item.logisticEstimatedDate">
              </td>
              <td class="text-center">
                <input type="text" name="{{item.shippingStatus}}" [(ngModel)]="item.shippingStatus">
              </td>

              <!-- file buttons -->
              <td class="text-center">
                <p><input type="file" multiple (change)="onFileSelect($event,i)"></p>
                <button class="upload-button" (click)="uploadFiles(item.uploadedFiles2,i)">Upload Files</button>
                <span class="button-gap"></span>
                <button class="view-button" (click)="openModal(item.uploadedFiles2)">View</button>
              </td>


              <!-- level 3 -->
              <td class="text-center">
                <input type="checkbox" name="{{item.isDeliveredToIraq}}" [(ngModel)]="item.isDeliveredToIraq">
              </td>
              <td class="text-center">
                <input type="checkbox" name="{{item.isDeliveredByLogistic}}" [(ngModel)]="item.isDeliveredByLogistic">
              </td>
              <td class="text-center">
                <input type="checkbox" name="{{item.isDeliverToClient}}" [(ngModel)]="item.isDeliverToClient">
              </td>
              <td class="text-center">
                <input type="number" name="{{item.logisticCost}}" [(ngModel)]="item.logisticCost">
              </td>
              <td class="text-center">
                <input type="checkbox" name="{{item.isFullyPaid}}" [(ngModel)]="item.isFullyPaid">
              </td>
              <td class="text-center">
                <input type="checkbox" name="{{item.isSubmitted}}" [(ngModel)]="item.isSubmitted">
              </td>

              <!-- file buttons -->
              <td class="text-center">
                <p><input type="file" multiple (change)="onFileSelect($event,i)"></p>
                <button class="upload-button" (click)="uploadFiles(item.uploadedFiles3,i)">Upload Files</button>
                <span class="button-gap"></span>
                <button class="view-button" (click)="openModal(item.uploadedFiles3)">View</button>
              </td>

              <!-- level 4 -->
              <td class="text-center">
                <select name="{{item.status}}" [(ngModel)]="item.status">
                  <option value="pricing-level">Pricing Level</option>
                  <option value="offering-level">Offering Level</option>
                  <option value="purchase-level">Purchase Level</option>
                </select>
              </td>
              
            </tr>
          </tbody>
        </table>

      </div>
      <br>
      <div colspan="29" class="text-center">
        <button class="add-row-button" (click)="addRow()">
          <i class="fa fa-plus"></i> Add Row
        </button>
      </div>
      <br>


      <div class="form-group row">
        <label for="offering" class="col-sm-6 col-form-label">Offering</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="offering" name="offering" [(ngModel)]="invoice.offering">
        </div>
      </div> <br>

      <!-- <div class="form-group row">
        <label for="origin" class="col-sm-6 col-form-label">Origin</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="origin" name="origin" [(ngModel)]="invoice.origin">
        </div>
      </div> <br>

      <div class="form-group row">
        <label for="partNumber" class="col-sm-6 col-form-label">Part Number</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="partNumber" name="partNumber" [(ngModel)]="invoice.partNumber">
        </div>
      </div> <br>

      <div class="form-group row">
        <label for="manufacturer" class="col-sm-6 col-form-label">Manufacturer</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="manufacturer" name="manufacturer"
            [(ngModel)]="invoice.manufacturer">
        </div>
      </div> <br> -->



      <div class="form-group   row">
        <label for="additionalCost" class="col-sm-6 col-form-label">Additional Cost</label>
        <input type="number" class="form-control" id="additionalCost" name="additionalCost"
          [(ngModel)]="invoice.additionalCost">
      </div>
      <br>

      <div class="form-group row">
        <label for="status" class="col-sm-6 col-form-label">Status</label>
        <div class="col-sm-6">
          <select class="form-control" id="status" name="status" [(ngModel)]="invoice.status">
            <option value="pricing-level">Pricing Level</option>
            <option value="offering-level">Offering Level</option>
            <option value="purchase-level">Purchase Level</option>
          </select>
        </div>
      </div>

      <br>

      <div class="form-group row">
        <label for="isDone" class="col-sm-6 col-form-label text-right">Is done</label>
        <div class="col-sm-6  d-flex align-items-left">

          <input type="checkbox" class="form-check-input" id="isDone" name="isDone" [(ngModel)]="invoice.isDone">
        </div>
      </div>
      <br>


      <div class="text-center">
        <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
      </div>
      <br><br><br>
    </form>
  </div>

  <!-- Output -->
  <div id="toPrint">
    <section class="content" *ngIf="isFormSubmitted">
      <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
          <!-- breadcrumb -->
          <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
          </app-breadcrumb>
        </div>
        <div class="row clearfix">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
              <div class="body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="white-box" #toPrint>
                      <h3>
                        <b>INVOICE</b>
                        <span class="float-end">{{invoice.invoiceID}}</span>
                      </h3>
                      <hr>
                      <div class="row">
                        <div class="col-md-12">

                          <div class="float-end text-end">
                            <address>
                              <p class="m-t-30">
                                <b>Invoice Date :</b>
                                <i class="fa fa-calendar"></i>{{ invoice.invoiceDate | date: "dd-MM-yyyy"}}
                              </p>
                              <p class="m-t-30">
                                <b>Estimated Date :</b>
                                <i class="fa fa-calendar"></i>{{ invoice.invoiceEstimatedDate | date: "dd-MM-yyyy"}}
                              </p>
                              <p class="m-t-30">
                                <b>Closing Date :</b>
                                <i class="fa fa-calendar"></i>{{ invoice.invoiceClosingDate | date: "dd-MM-yyyy"}}
                              </p>
                              <p>
                                <b>Status :</b>
                                <span class="label label-success">{{invoice.status}}</span>
                              </p>

                              <p>
                                <b>Done : </b>
                                <i class="fas"
                                  [ngClass]="{'fa-check-circle': invoice.isDone, 'fa-times-circle': !invoice.isDone}"
                                  [ngStyle]="{'color': invoice.isDone ? 'green' : 'red'}"></i>{{ invoice.isDone ? 'Yes'
                                : 'No' }}
                              </p>

                            </address>
                          </div>
                        </div>

                        <div class="table-container" style="width: 70%; margin: 0 auto; overflow-x: auto;">
                          <h3 class="text-center">Selected Items</h3>

                          <table class="table" style="width: 100%;">
                            <thead>
                              <tr>
                                <!-- level 1 -->
                                <th class="text-center level1">Item ID</th>
                                <th class="text-center level1">User ID</th>
                                <th class="text-center level1">UOM ID</th>
                                <th class="text-center level1">First Price</th>
                                <th class="text-center level1">Last Price</th>
                                <th class="text-center level1">Quantity</th>
                                <th class="text-center level1">VAT</th>
                                <th class="text-center level1">Unit Price</th>
                                <th class="text-center level1">Additional Cost</th>
                                <th class="text-center level1">Purchase Additional Cost</th>
                                <th class="text-center level1">Delivery Additional Cost</th>
                                <th class="text-center level1">POD</th>
                                <th class="text-center level1">Closing Date</th>
                                <th class="text-center level1">Files (l-1)</th>


                                <!-- level 2 -->
                                <th class="text-center level2">Purchase Price</th>

                                <th class="text-center level2">Is First Payment Done</th>
                                <th class="text-center level2">First Payment Price</th>
                                <th class="text-center level2">First Payment Date</th>

                                <th class="text-center level2">Is Last Payment Done</th>
                                <th class="text-center level2">Last Payment Price</th>
                                <th class="text-center level2">Last Payment Date</th>

                                <th class="text-center level2">Logistic Company</th>
                                <th class="text-center level2">Logistic Location</th>
                                <th class="text-center level2">Logistic Estimated Date</th>
                                <th class="text-center level2">Shipping Status</th>
                                <th class="text-center level1">Files (l-2)</th>

                                <!-- level 3 -->
                                <th class="text-center level3">Is Delivered to Iraq</th>
                                <th class="text-center level3">Is Delivered by Logistic</th>
                                <th class="text-center level3">Is Deliver to Client</th>
                                <th class="text-center level3">Logistic Cost</th>
                                <th class="text-center level3">Is Fully Paid</th>
                                <th class="text-center level3">Is Submitted</th>
                                <th class="text-center level1">Files (l-3)</th>

                                <!-- level 4 -->
                                <th class="text-center level4">total Cost</th>
                                <th class="text-center level4">Status</th>
                              </tr>

                            </thead>
                            <tbody>

                              <tr *ngFor="let item of itemList">
                                <td class="text-center">{{ item.itemId }}</td>
                                <td class="text-center">{{ item.userId }}</td>
                                <td class="text-center">{{ item.UOMId }}</td>
                                <td class="text-center">{{ item.firstPrice }}</td>
                                <td class="text-center">{{ item.lastPrice }}</td>
                                <td class="text-center">{{ item.quantity }}</td>
                                <td class="text-center">{{ item.VAT }}</td>
                                <td class="text-center">{{ item.unitPrice }}</td>
                                <td class="text-center">{{ item.additionalCost }}</td>
                                <td class="text-center">{{ item.purchaseAdditionalCost }}</td>
                                <td class="text-center">{{ item.deliveryAdditionalCost }}</td>
                                <td class="text-center">{{ item.POD }}</td>
                                <td class="text-center">{{ item.closingDate | date: 'dd/MM/yyyy'}}</td>
                                <td class="text-center">
                                  <p *ngFor="let file in item.uploadedFiles1">
                                    {{file.name}}
                                  </p>
                                </td>

                                <td class="text-center">{{ item.purchasePrice }}</td>
                                <td class="text-center">{{ item.isFirstPaymentDone }}</td>
                                <td class="text-center">{{ item.firstPaymentPrice }}</td>
                                <td class="text-center">{{ item.firstPaymentDate | date: 'dd/MM/yyyy'}}</td>
                                <td class="text-center">{{ item.isLastPaymentDone }}</td>
                                <td class="text-center">{{ item.lastPaymentPrice }}</td>
                                <td class="text-center">{{ item.lastPaymentDate | date: 'dd/MM/yyyy'}}</td>
                                <td class="text-center">
                                  <p *ngFor="let file in item.uploadedFiles2">
                                    {{file.name}}
                                  </p>
                                </td>
                                <td class="text-center">{{ item.logisticCompany }}</td>
                                <td class="text-center">{{ item.logisticLocation }}</td>
                                <td class="text-center">{{ item.logisticEstimatedDate | date: 'dd/MM/yyyy'}}</td>
                                <td class="text-center">{{ item.shippingStatus }}</td>

                                <td class="text-center">{{ item.isDeliveredToIraq }}</td>
                                <td class="text-center">{{ item.isDeliveredByLogistic }}</td>
                                <td class="text-center">{{ item.isDeliverToClient }}</td>
                                <td class="text-center">{{ item.logisticCost }}</td>
                                <td class="text-center">{{ item.isFullyPaid }}</td>
                                <td class="text-center">{{ item.isSubmitted }}</td>
                                <td class="text-center">
                                  <p *ngFor="let file in item.uploadedFiles2">
                                    {{file.name}}
                                  </p>
                                </td>
                                <td class="text-center">{{ item.totalPrice }}</td>
                                <td class="text-center">{{ item.status }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>


                        <div class="col-md-12">
                          <div class="float-end m-t-30 text-end">
                            <p>Offering : {{invoice.offering }} </p>
                            <p>Sub-Total amount: ${{invoice.subtotal | number:'1.2-2'}}</p>
                            <p>Additional Cost : ${{invoice.additionalCost | number:'1.2-2'}} </p>
                            <hr>
                            <h4>
                              <p>Total : ${{invoice.totalCost | number:'1.2-2'}}</p>
                              <p><b>Grand Total : ${{invoice.grandTotal | number:'1.2-2'}} </b></p>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr>
                    <div class="text-end">
                      <button mat-raised-button color="primary" (click)="export()">
                        <i class="fas fa-print msr-2"></i> Print
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>