.form-group {
    text-align: center;
  }


  .table-container {
    overflow-x: auto;
    width: 60%;
    margin: 0 auto;
  }
  


  
  .form-group label {
    display: block;
    text-align: center;
  }

  .form-group input.form-control , textarea.form-control{
    width: 60%;
    margin: 0 auto;
  }