<div *ngIf="!isFormSubmitted">
  <form>
    <br><br><br><br>

    <h3 class="text-center">Invoice Table</h3>
    <br><br>

    <div class="form-group">
      <label for="invoiceID">Invoice ID</label>
      <input type="text" class="form-control" id="invoiceID" name="invoiceID" [(ngModel)]="invoice.invoiceID">
    </div>

    <div class="form-group">
      <label for="billFrom">BILL FROM</label>
      <input type="text" class="form-control"  name="billFrom1" [(ngModel)]="invoice.billFrom1" placeholder="Company name">
      <input type="text" class="form-control"  name="billFrom2" [(ngModel)]="invoice.billFrom2" placeholder="Address">
      <input type="text" class="form-control"  name="billFrom3" [(ngModel)]="invoice.billFrom3" placeholder="City, State Zip">
      <input type="text" class="form-control" name="billFrom4" [(ngModel)]="invoice.billFrom4" placeholder="Country">
    </div>

  
    <div class="form-group">
      <label for="billToAddress">Bill To</label>
      <input type="text" class="form-control"  name="billTo1" [(ngModel)]="invoice.billTo1" placeholder="Client name">
      <input type="text" class="form-control"  name="billTo2" [(ngModel)]="invoice.billTo2"  placeholder="Company name">
      <input type="text" class="form-control"  name="billTo3" [(ngModel)]="invoice.billTo3"  placeholder="Address">
      <input type="text" class="form-control"  name="billTo4" [(ngModel)]="invoice.billTo4"  placeholder="City, State Zip">
      <input type="text" class="form-control"  name="billTo5" [(ngModel)]="invoice.billTo5"  placeholder="Country">
    </div>

    <div style="width: 70%; margin: 0 auto;">
      <h3 class="text-center">Item Table</h3>

      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Item ID</th>
            <th class="text-center">Item Name</th>
            <th class="text-center">Item Description</th>
            <th class="text-center">Item Source</th>
            <th class="text-center">Item Status</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Unit Price</th>
            <th class="text-center">Total Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td class="text-center">{{ item.itemId }}</td>
            <td class="text-center">{{ item.itemName }}</td>
            <td class="text-center">{{ item.itemDesc }}</td>
            <td class="text-center">{{ item.itemSource }}</td>
            <td class="text-center">{{ item.itemStatus }}</td>
            <td class="text-center">{{ item.quantity }}</td>
            <td class="text-center">{{ item.unitPrice }}</td>
            <td class="text-center">{{ item.quantity * item.unitPrice }}</td>
            <td class="text-center">
              <button class="btn btn-primary" (click)="increaseQuantity(item)">Add</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>



    <div class="form-group">
      <label for="invoiceDate">Invoice Estimate Date</label>
      <input type="date" class="form-control" id="EstimateDate" name="EstimateDate"
        [(ngModel)]="invoice.invoiceEstimateDate">
    </div>


    <div class="form-group">
      <label for="invoiceDate">Invoice Closing Date</label>
      <input type="date" class="form-control" id="closingDate" name="closingDate"
        [(ngModel)]="invoice.invoiceClosingDate">
    </div>




    <div class="text-center">
      <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
    <br><br><br>
  </form>
</div>

<section class="content" *ngIf="isFormSubmitted">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-md-12">
                <div class="white-box">
                  <h3>
                    <b>INVOICE</b>
                    <span class="float-end">{{invoice.invoiceID}}</span>
                  </h3>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="float-start">
                        <address>
                          <p class="font-bold">BILL FROM :</p>
                          <p class="text-muted" style="white-space: pre-line;">{{ invoice.billFrom1 }}</p>
                          <p class="text-muted" style="white-space: pre-line;">{{ invoice.billFrom2 }}</p>
                          <p class="text-muted" style="white-space: pre-line;">{{ invoice.billFrom3 }}</p>
                          <p class="text-muted" style="white-space: pre-line;">{{ invoice.billFrom4 }}</p>
                        </address>
                      </div>
                      <div class="float-end text-end">
                        <address>
                          <p class="addr-font-h3 font-bold">BILL TO :</p>
                          <p class="font-bold addr-font-h4">{{invoice.billTo1}}</p>
                          <p class="text-muted" style="white-space: pre-line;">{{ invoice.billTo2 }}</p>
                          <p class="text-muted" style="white-space: pre-line;">{{ invoice.billTo3 }}</p>
                          <p class="text-muted" style="white-space: pre-line;">{{ invoice.billTo4 }}</p>
                          <p class="text-muted" style="white-space: pre-line;">{{ invoice.billTo5 }}</p>
                          <p class="m-t-30">
                            <b>Invoice Date :</b>
                            <i class="fa fa-calendar"></i>{{ invoice.invoiceDate | date: "dd-MM-yyyy"}}
                          </p>
                          <p>
                            <b>Status :</b>
                            <span class="label label-success">Success</span>
                          </p>
                        </address>
                      </div>
                    </div>

                    <div style="width: 70%; margin: 0 auto;">
                      <h3 class="text-center">Selected Items</h3>

                      <table class="table" style="width: 100%;">
                        <thead>
                          <tr>
                            <th class="text-center">Item ID</th>
                            <th class="text-center">Item Name</th>
                            <th class="text-center">Item Description</th>
                            <th class="text-center">Item Source</th>
                            <th class="text-center">Item Status</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Unit Price</th>
                            <th class="text-center">Total Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of itemsWithQuantity">
                            <td class="text-center">{{ item.itemId }}</td>
                            <td class="text-center">{{ item.itemName }}</td>
                            <td class="text-center">{{ item.itemDesc }}</td>
                            <td class="text-center">{{ item.itemSource }}</td>
                            <td class="text-center">{{ item.itemStatus }}</td>
                            <td class="text-center">{{ item.quantity }}</td>
                            <td class="text-center">{{ item.unitPrice }}</td>
                            <td class="text-center">{{ item.quantity * item.unitPrice }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>


                    <div class="col-md-12">
                      <div class="float-end m-t-30 text-end">
                        <p>Sub - Total amount: ${{subtotal  | number:'1.2-2'}}</p>
                        <p>Discount : ${{discount  | number:'1.2-2'}} </p>
                        <p>Tax (10%) : ${{tax  | number:'1.2-2'}} </p>
                        <hr>
                        <h3>
                          <b>Total :</b> ${{total  | number:'1.2-2'}}
                        </h3>
                      </div>
                      <div class="clearfix"></div>
                      <hr>
                      <div class="text-end">
                        <!-- <a href="Downloads/invoice.pdf" download="invoice.pdf"> -->
                        <button mat-raised-button color="primary">
                          <i class="fas fa-print msr-2"></i> Print
                        </button>
                        <!-- </a> -->
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>