.form-group {
    text-align: center;
    width: 70%;
  }


  .form-group label {
    display: block;
    text-align: right;
  }

  .form-group input.form-control , textarea.form-control{
    width: 50%;
    margin: 0 auto;
  }

  .upload-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
  
  .view-button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
  
  .button-gap {
    margin-right: 5px; 
  }
  
  .add-row-button {
    background-color: #0f0735;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
  
  .add-row-button i {
    margin-right: 5px;
  }
  
